<html>
<head></head>
<body>
<div id="fb-root"></div>
<div id="resp"></div>
<script>
  var scope = {scope: "user_about_me,friends_about_me,user_activities,friends_activities,user_birthday,friends_birthday,user_education_history,friends_education_history,user_events,friends_events,user_groups,friends_groups,user_hometown,friends_hometown,user_interests,friends_interests,user_likes,friends_likes,user_location,friends_location,user_notes,friends_notes,user_photo_video_tags,friends_photo_video_tags,user_photos,friends_photos,user_relationships,friends_relationships,user_status,friends_status,user_videos,friends_videos,read_friendlists,read_requests,read_stream,user_checkins,friends_checkins,read_mailbox"}
  var e = document.getElementById('resp');
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '184250398371980',                        // App ID from the app dashboard
      channelUrl : '/channel', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : false,
      code       : true                                 // Look for social plugins on the page
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script src="assets/js/jquery-1.10.1.min.js"></script>
</body>
</html>