@charset "UTF-8";/*!
 * 
 * Common styles across all themes.
 *
 */

div[class*='merge-lists-']{
    background-color: rgba(255, 255, 255,0.7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #B7B7B7;
}

.slide-header{
    font-size: 20px;
}

.slide-header h2{
    border-bottom: 1px solid #eeeeee;
    float: left;
    padding: 0px 0px 10px 0px;
}

#friendGraph,
#node-list{
    line-height: normal;
}

.node-list-off {
    color: transparent;
    cursor: default;
}

.node-list-off:hover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;  
}

.node-list-on{
    padding: 0 5px 0 5px;
}

.node-list-on:hover{
    background-color: #b8cefa;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#node-list li{
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}

#node-list ul{
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    list-style: none;
    margin: 0px;
}

#friendGraph{
    width: 592px;
    border-left: 1px solid #000000;
}

.node-name {
    font-size: 20px;
}

.link,
.node,
.node-name,
text {
    cursor: pointer;
}

.circle {
    border: 1px solid #cccccc;
    margin-top: 15px;
    cursor: pointer;
}

.circle p {
    font-size: 24px;
    padding-left: 5px;
}

.circle p i {
    float:right;
    margin: 0 0 0 3px;
}

.circle ul {
    list-style: none;
    font-size: 18px;
}

#names-list {
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.circles-row {
    width: 100%;
    line-height: 1.5;
}

.merge-list span,
#names-list span {
    float: left;
    font-size: 14px;
    margin: 1px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.merge-list span {
    float: left;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.merge-list span:hover{
    background: #FFFF00;
}

.paging-div {
    font-size: 14px;
    text-align: center;
    width: 250px;
    margin: auto;
}

.paging-div button {
    margin: auto 15px;
}

.container {
    width: 100%;
}

#lastSeenTable {
    font-size: 14px;
    line-height: 20px;
}

#lastSeenTable th {
    width: 10%;
    text-align: center;
}

#lastSeenTable tr td:first-child{
    border-right: 1px solid #dddddd;
    font-weight: bold;
}

#lastSeenTable tr td:not(:first-child){
    text-align: center;
}

.lists-row {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px;
}

.merge-div {
    font-size: 24px;
    text-align: left;
    clear: left;
    margin: 5px;
}

.merge-div button {
    margin-bottom: 10px;
}

.merge-list {
    list-style-type: none;
    font-size:  16px;
    line-height: 25px;
}

.merge-list li {
    cursor: pointer;
}

.no-text-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.btn-large {
    font-size: 20px;
}

.selected {
    background-color: #FFFF00;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.chart {
    font-size: 18px;
    text-align: center;
}

.chart svg {
    position: relative;
    top: -75px;
}

.chart .node {
    cursor: move;
}


#error {
    position: absolute;
    top: 50%;
    left: 35%;
    display: none;
    background-color: #f0f0f0;
    border: 6px solid #ff0000;
    font-family: Arial;
    font-size: 16px;
    padding: 20px;	
    z-index: 5;
}

#next-arrow {
    position:fixed;
    cursor: pointer;
    right: 0;
    bottom: 0;
    margin: 5px;
    z-index: 5;
    max-width:10%
}

#next-arrow>img{
    max-width: 100%;
}

.delete {
    cursor: pointer;
    background-image: url('../img/elements/delete.png');
    background-repeat: no-repeat;
    background-position: 0 0px;
    background-size: 100%;
    width: 18px;
    height: 36px;
    display: inline-block;
}

.friend-input {
    vertical-align: text-bottom !important;
}

.friend-list {
    list-style-type: none;
    line-height: 3 !important;
    font-size: 24px;
    margin-bottom: 20px;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

#help-img {
    cursor: pointer;
    background-image: url('../img/elements/help.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    position: fixed;
    display: none;
    width: 4%;
    height: 8%;
    z-index: 5;
    margin: 5px;
}

.underline {
    text-decoration: underline;
}

@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('../font/News_Cycle/News Cycle Regular'), local('../font/News_Cycle/NewsCycle-Regular'), url(https://themes.googleusercontent.com/static/fonts/newscycle/v9/9Xe8dq6pQDsPyVH2D3tMQr3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: local('../font/News_Cycle/News Cycle Bold'), local('../font/News_Cycle/NewsCycle-Bold'), url(https://themes.googleusercontent.com/static/fonts/newscycle/v9/G28Ny31cr5orMqEQy6ljt3bFhgvWbfSbdVg11QabG8w.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('../font/Lato/Lato Regular'), local('../font/Lato/Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('../font/Lato/Lato Bold'), local('../font/Lato/Lato-Bold'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('../font/Lato/Lato Italic'), local('../font/Lato/Lato-Italic'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('../font/Lato/Lato Bold Italic'), local('../font/Lato/Lato-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}